<ion-card> <!-- SVG Play -->
    <ion-card-header>
      <ion-card-subtitle>SVG Play</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <svg width="300" height="100">
        <!-- Rectangles -->
        <rect x="0" y="0" width="50" height="100" fill="#e8e8e8"></rect>
        <rect x="250" y="-55" width="50" height="100" fill="#ccc" stroke="#5f5fff" stroke-width="2px"></rect>
        <rect x="250" y="55" width="50" height="100" fill="#ccc" stroke="#00c5e8" stroke-width="2px"></rect>

        <!-- Circles -->
        <circle cx="130" cy="50" r="45" width="80" height="90" fill="#777"></circle>

        <!-- Circles -->
        <ellipse cx="210" cy="50" rx="25" ry="50" fill="grey"></ellipse>

        <!-- Line -->
        <line x1="60" y1="100" x2="90" y2="0" stroke="#999" stroke-width="5"></line>

        <!-- Text -->
        <text x="150" y="95" font-size="34px" fill="orange" text-anchor="middle">Google</text>

        <!-- Path: we can use path generators for it :) -->
      </svg>
    </ion-card-content>
  </ion-card> <!-- SVG Play Ends-->
  

<ion-card><!--Selection and Joins -->
  <ion-card-header>
    <ion-card-subtitle>Selections and Joins</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
      <div id="selector"></div>
  </ion-card-content>
</ion-card><!--Selection and Joins Ends-->


