<ion-header>
  <ion-toolbar>
    <ion-title>Data Visualisation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="practice" checked>
        Practice
      </ion-segment-button>
      <ion-segment-button value="presentation">
        Presentation
      </ion-segment-button>
    </ion-segment> 
    
    <div>
      <div *ngIf="activeMode === 'practice' else presentation">
          <app-svgplay></app-svgplay>
      </div>
  
      <ng-template #presentation>
        presentation
      </ng-template>
    </div>
     

</ion-content>
